<!DOCTYPE html>
<html>
  <head>
  	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.jpeg') }}"> 
  	<title>My Map Page</title>
  	<meta charset="UTF-8"> 
  	<meta name="description" content="GPS work">
  	<meta name="author" content="Manish Singh">
  	<meta http-equiv="refresh" content="5">  
  	<style>
  		.body {
  			background-color: rgba(201, 76, 76, 0.3);;
  		}
  	</style>            
  </head>
  <body>
    <div>
    	<iframe src="mymap.html" height="640 px" width="100%" title="Iframe Map"></iframe>
    </div> 
  </body>
</html>
