<!DOCTYPE html>
<html>
  <head>
  	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.jpeg') }}"> 
  	<title>My Map Page</title>
  	<meta charset="UTF-8"> 
  	<meta name="description" content="GPS work">
  	<meta name="author" content="Manish Singh">
  	<style>
  		.body {
  			background-color: rgba(201, 76, 76, 0.3);;
  		}
  		a {
  			color: blue;
  			text-decoration: none;
		}
  	</style>            
  </head>
  <body>
    <div>
    	<iframe src="rdp.html" height="550 px" width="100%" title="Iframe Map"></iframe>
    </div>
    <div align="center">
    	<p>
    		<a href="{{ url_for('home_rdp') }}">  
    			<img src={{ url_for('static', filename='refresh-vector.jpg') }} height=16px width=16px alt="refresh icon"/> Update Position 
    		</a> 
    		&nbsp &nbsp &nbsp &nbsp 
    		<a href="{{ url_for('home_live') }}"> 
    			Live/Active Tracking 
    		</a> 
    	</p>
    	<p3>
    		<a href="{{ url_for('home') }}" target=_blank>Click to see map without rdp </a> 
    		&nbsp &nbsp &nbsp &nbsp
    		<a href="{{ url_for('home_plot') }}" target=_blank>Click to see distance and speed plots </a> 
    	</p>
    </div>
  </body>
</html>
